<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Categories</li>
  </ol>
</nav>

<div class="d-flex justify-content-between">

  <div class="h2 ms-2 user-select-none">
    Categories
  </div>

    <div class="">
      <button routerLink="new" class="btn btn-success align-middle">
        + New Category
      </button>
    </div>

</div>

<table class="table table-hover">
  <thead>
    <tr class="d-flex bg-primary text-light">
      <th class="flex-fill text-center fw-normal">Category</th>
      <th class="flex-fill text-center fw-normal">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex">
      <td class="flex-fill">
        <strong>Leisure</strong><br />
        <small>Movies, park, beach</small>
      </td>
      <td class="flex-fill text-center">
        <button
          [routerLink]="[12, 'edit']"
          class="btn btn-outline-info btn-sm mx-2"
        >
          Edit
        </button>
        <button (click)="('')" class="btn btn-outline-danger btn-sm">
          Delete
        </button>
      </td>
    </tr>
    <tr class="d-flex">
      <td class="flex-fill">
        <strong>Leisure</strong><br />
        <small>Movies, park, beach</small>
      </td>
      <td class="flex-fill text-center">
        <button
          [routerLink]="[12, 'edit']"
          class="btn btn-outline-info btn-sm mx-2"
        >
          Edit
        </button>
        <button (click)="('')" class="btn btn-outline-danger btn-sm">
          Delete
        </button>
      </td>
    </tr>
    <tr class="d-flex">
      <td class="flex-fill">
        <strong>Leisure</strong><br />
        <small>Movies, park, beach</small>
      </td>
      <td class="flex-fill text-center">
        <button
          [routerLink]="[12, 'edit']"
          class="btn btn-outline-info btn-sm mx-2"
        >
          Edit
        </button>
        <button (click)="('')" class="btn btn-outline-danger btn-sm">
          Delete
        </button>
      </td>
    </tr>
    <tr class="d-flex">
      <td class="flex-fill">
        <strong>Leisure</strong><br />
        <small>Movies, park, beach</small>
      </td>
      <td class="flex-fill text-center">
        <button
          [routerLink]="[12, 'edit']"
          class="btn btn-outline-info btn-sm mx-2"
        >
          Edit
        </button>
        <button (click)="('')" class="btn btn-outline-danger btn-sm">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
